/*李志锴--请大家注意 css 命名,加上前缀*/
.zwb_box {
	width: 100%;
	overflow: hidden;
}
.zwb_main {
	width: 100%;
	overflow: hidden;
	background: #F2F2F2;
	padding: 50px 0;
}
.zwb_main > div {
	width: 95%;
	height: 580px;
	margin: 0 auto;
	background: #fff;
	padding-bottom: 30px;
}
.zwb_main > div > p {
	font-size: 14px;
	color: #666666;
	height: 50px;
	line-height: 50px;
	text-indent: 25px;
	font-weight: bold;
}
.zwb_main > div > div {
	width: 100%;
	height: 450px;
	text-align: center;
}
.zwb_main > div > div > span{
	font-size: 150px;
	margin-top: 130px;
	color: #666;
}
.zwb_main > div > div > p{
	font-size: 25px;
	margin-top: 10px;
}
.zwb_main > div > ul {
	width: 100%;
	overflow: hidden;
}
.zwb_main > div > ul > li {
	width: 23%;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px 0 0 18px;
	float: left;
	position: relative;
}
.zwb_main > div > ul > li > div:nth-child(1) {
	height: 70px;
	border-bottom: 1px solid #D8D8D8;
	background: #FAFAFA;
	padding-left: 10px;
}
.zwb_main > div > ul > li > div:nth-child(1) span:nth-child(1) {
	display: block;
	padding: 10px 0;
	color: #0000FF;
}
.zwb_main > div > ul > li > div:nth-child(1) span:nth-child(1) i {
	font-style: normal;
	margin-left: 5px;
	color: #000;
}
.zwb_main > div > ul > li > p {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
}
.zwb_main > div > ul > li > p:nth-child(4) span:nth-child(2) {
	margin: 0 5px;
}
.zwb_main > div > ul > li > p:nth-child(5) {
	color: #FC8238;
}
.zwb_main > div > ul > li > div:nth-child(1) > a {
	display: block;
	border: 1px solid #ccc;
	width: 50px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #FAFAFA;
	color: #00B9E8;
	text-decoration: none;
	position: absolute;
	right: 5px;
	top: 20px;
}
.zwb_xuzu li{
	height: 30px;
	line-height: 30px;
	text-indent: 15px;
}
